@using Microsoft.JSInterop
@inject IJSRuntime JSRuntime

<MudThemeProvider @bind-IsDarkMode="@_isDarkMode" />
<MudDialogProvider />
<MudSnackbarProvider />

<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(Layout.MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(Layout.MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@code {
    private bool _isDarkMode;
    
    protected override async Task OnInitializedAsync()
    {
        _isDarkMode = await JSRuntime.InvokeAsync<bool>("isDarkMode");
        await JSRuntime.InvokeVoidAsync("addDarkModeListener", DotNetObjectReference.Create(this));
    }

    [JSInvokable]
    public void OnThemeChanged(bool isDark)
    {
        _isDarkMode = isDark;
        StateHasChanged();
    }
}